/* Generals */
@font-face{
  font-family: 'Source Sans Pro';
  src: url('./assets/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url('./assets/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url('./assets/SourceSansPro-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Source Sans Pro'
}

body{
  background-color: #ecf0f5;
}
nav ul, nav li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#FFF;
}

/* Specifics */
header{
  background-color: #3c8dbc;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px;
  color: #FFF;
}
.choice-icon{
  height:50px;
  width:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  font-size: 24px;
}
.choice-icon:active{
  filter: brightness(70%);
}


nav{
  min-height:50px;
}
nav ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav li{
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  font-weight: bolder;
  cursor: pointer;
}
nav li:active{
  filter: brightness(70%);
}

#device-selection-list{
  list-style: none;
  width: 100%;
  font-size:24px;
  display:flex;
  flex-direction: column;
  background-color: #FFF;
}
#device-selection-list li{
  border: 1px solid #d2d6de;
  padding: 0.5rem 0.5rem;
}
#device-selection-list li:last-child{
  border-top:none;
}
#device-selection-list li:hover{
  background-color: #3c8dbc;
  color:#FFF;
  font-weight:bold;
  cursor:pointer;
}
section{
  margin-top: 40px;
  color: #333;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section > div{
  margin: 20px 0;
}
#switch-camera-button{
  width:100%;
  background-color: cornflowerblue;
  color: #FFF;
  padding: 0.5rem 0;
  font-size:24px;
  border:none;
  outline:none;
}
#switch-camera-button:hover{
  filter: brightness(85%);
}
input[type=text], input[type=number], textarea{
  border: 1px solid #d2d6de;
  color: #555;
  padding: 6px 12px;
  outline:none;
  font-size:20px;
}
input[type=text]:focus, input[type=number]:focus, textarea:focus{
  border-color: #3C8DBC;
}
.success-box{
  background-color: #00a65a;
  border:1px solid #008d4c;
  border-radius: 3px;
  padding: 15px;
  color: #FFF;
  font-size: 16px;
  width: 50%;
}

.error-box{
  background-color: #dd4b39;
  border:1px solid #d73925;
  width: 50%;
  border-radius: 3px;
  padding: 15px;
  color: #FFF;
  font-size: 16px;
}
#btn-group{
  margin: 20px 0;
  text-align: center;
}
#btn-group button{
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  color:#444;
  padding: 6px 12px;
  font-size:20px;
}

#btn-group button:hover{
  background-color: #e7e7e7;
  border-color:#adadad;
}

#btn-group button:active, #btn-group button.selected{
  background-color: #3c8dbc;
  color:white;

  box-shadow: rgba(0, 0, 0, 0.125) 0px;
}

.info-box{
  border:1px solid #d4d4d4;
  width:50%;
}

.info-box > div{
  background-color: #d4d4d4;
  color: #333;
  padding: 6px 12px;
}

.info-box > p{
  padding: 6px 12px;
}

.blue-button{
  color: #FFF;
  padding: 6px 12px;
  background-color: #367fa9;
  border: 1px solid #23536f;
  border-radius: 3px;
  cursor: pointer;
}

.blue-button:active{
  background-color: #307095;
}


.box{
  border-top: 3px solid #d2d6de;
  background-color: #FFF;
  width: min(650px, 100%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 75px auto;
  padding: 15px 0;
}

.box form{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 100px;
  row-gap: 25px;
}
.box form > *{
  flex: 0 0 50%;
}
.box form label{
  color:#333;
  font-weight: bolder;
}

.center-box{
  width: 50%;
  margin: 2rem auto;
  padding: 5rem;
  border: 2px dashed white;
  border-radius: 10px;
  cursor:pointer;
}

.center-box:hover{
  filter: brightness(85%)
}

.center-box i{
  font-size:72px;
}

.center-box p{
  font-size:18px;
  font-weight: bold;
  margin: 2rem auto;
}
#header-icon-group{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
small {
  color: #777;
  font-weight: normal;
}
@media (max-width: 768px) {
  nav li {
    flex: 0 0 33.33%; /* 3 items per row */
  }
  .center-box{
    padding: 2rem;
    width:80%;
  }
  .box form > *{
    flex: 1 1 100%;
  }
  .box form{
    width:100%;
    padding: 0 30px;
  }
  #btn-group{
    display:flex;
    flex-direction:column;
  }
  header{
    flex-direction: column;
    height:auto;
    padding-top:2rem;
  }
  header > *{
    padding: 0.25rem 0;
  }
}

@media (max-width: 480px) {
  nav li {
    flex: 0 0 50%; /* 3 items per row */
  }
}